body {
  font: 62.5% Verdana, Arial, sans-serif;
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
}
canvas, textarea, code {
  width: 99%;
  height:49%;
}
canvas, code {
  width: 49%;
  margin:0;
  float:left;
}
code {
  color: #fff;
  font-size: 1.4rem;
  overflow: auto;
  background: url(darknoise.png) fixed;
}
  span {
    padding-left: .4rem;
    -webkit-transition: color 1s;
    transition: color 1s;
  }
  .num {
    color: hsl(257, 100%, 70%);
  }
  .obj {
    color: hsl(117, 100%, 50%);
  }